@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* cabeçalho da pagina */

header {
    background-color: #ffcf68;
    box-shadow: 0 0 10px gray;
    height: 15%;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}

.img_logo {
    display: flex;
    align-self: center;
    max-width: 75%;
    max-height: auto;
}

.card-left {
    display: flex;
    width: 20%;
}

.card-left img {
    padding: 5px;
}

.card-center {
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.card-center p {
    border: 1px solid #ce9928;
    background-color: #ffba25;
    border-radius: 8px;
    padding: 0px 10px 0px 10px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
}

.card-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.card-right nav {
    background-color: #ffba25;
    border-radius: 10px;
    border-color: #ce9928;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}

.card-right nav>a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
}

.card-right nav:hover {
    background-color: #ce9928;
    color: #d49100;
    text-decoration: none;
    border: 1px solid black;
}

nav:hover {
    background-color: #ce9928;
    color: #d49100;
    text-decoration: none;
    border: 1px solid black;
}


/* corpo da página */

main {
    display: flex;
    background-color: #fed06c86;
    height: 100vh;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 20px 10px 20px 10px;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 15px 0 15px;
    margin: 10px;
    background-color: #ffba25;
}

ul>li>a {
    text-decoration: none;
    color: black;
    word-break: break-word;
    text-align: center;
}

ul>li:hover {
    background-color: #ce9928;
    color: #d49100;
    text-decoration: none;
    border: 1px solid black;
}

.card-main-left {
    height: 50vh;
    width: 25%;
}

.card-main-left div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
}

.card-main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    width: 50vw;
    height: 80%;
}

.content-top {
    align-self: flex-start;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1px 10px 1px 10px;
}

.content-bottom {
    padding: 5px;
    width: 95%;
    height: 100%;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
}


/* rodapé do site */

footer {
    display: flex;
    background-color: #ffcf68;
    height: 15%;
    box-sizing: border-box;
}

.card-left-footer {
    display: flex;
    width: 20%;
}

.card-left-footer img {
    padding: 5px;
}

.card-center-footer {
    display: flex;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    font-size: 13px;
}

.img_logo2 {
    width: 130px;
    height: 30px;
    max-width: 140px;
    max-height: 40px;
}

.card-right-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_social_media {
    width: 30px;
    height: 30px;
    padding: 1px;
}

@media (max-width: 800px) {
    main {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .card-carrousel img {
        height: 200px;
        width: 500px;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
    }
    .section-1 img {
        height: 60%;
        width: 40%;
    }
    .section-2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .section-2 img {
        height: 60%;
        width: 40%;
    }
    .section-3 {
        display: flex;
        flex-direction: column;
    }
    .section-3 img {
        height: 60%;
        width: 40%;
    }
    footer {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .card-left-footer img {
        display: none;
    }
}

@media (max-width: 500px) {
    .card-carrousel img {
        height: 100px;
        width: 300px;
    }
    .card-center-footer {
        display: none;
    }
    .card-center-up nav>a {
        font-size: small;
        padding: auto;
    }
    .card-center-down nav>a {
        font-size: small;
        padding: auto;
    }
}