*{margin: 0;padding: 0;box-sizing: border-box; list-style: none;border: 0;}
#container{
    border: 1px solid red;
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    
}

#logo{
    border: 1px solid blue;
    width: 15%;
}

header #logo div img{
    padding: 30px 30px;
}

#pesquisar{
    width: 50%;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 90px;
    
    
}

#voltar-home{
    border: 1px solid red;
    width: 15%;
    margin-top: 25px;
}



article{
    border: 1px solid red;
    margin-top: 15px;
    padding: 25px 25px;
    line-height: 30px;
} 

article ul li a{
text-decoration: none;

}


