*{margin: 0;padding: 0;box-sizing: border-box; list-style: none;}

body{
    
    background: url(imagens/fundo3.jpg);
    font-family: Helvetica, Arial, sans-serif;
    
}

/*header*/
#container{
    background-color: #ffcc66;
    opacity: 0.8;
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}

#logo{
    
    margin-top: 60px;
}


#pesquisar{
    background: url(imagens/loupe.png)no-repeat right white;
    background-repeat: no-repeat;
    width: 50%;
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 90px;
    
    
}




#voltar-home{
    margin-top: 60px;
}



/*responsividade header*/

@media(max-width:760px){header{
    flex-direction: column;
    align-items: center;
    
}}


/*Area main com menú e foto*/
.container{
    
    display: flex;
    
    
    
}

h3{
    color: yellow;
    padding: 20px;
}

.menu{
    
    flex-grow: 1;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-top: 35px;
    line-height: 30px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
}

a:hover{
border-bottom: 3px solid yellow;
}

.foto{
    display: flex;
    order: 1;
    margin-top: 35px;
    flex-grow: 1;
    transi;
    
    
}

/*Responsividade área main*/

@media(max-width:760px){main{
    flex-direction: column;
    align-items: center;
    
}}

/*Rodapé*/


.rodape{
    background-color: #ffcc66;
    opacity: 0.8;
    justify-content: space-around;
    display: flex;
    width: 100%;
    border: 1px solid white;
    padding-bottom: 25px;
    
}

.item1{}

.item2{padding:30px 25px;}

.item3{}


/*Responsividade área footer*/

@media(max-width:760px){.rodape{
    flex-direction: column;
    text-align: center;
    
}}




