<!DOCTYPE html>
<html lang="pr-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/styleCadSuper.css">
    <title>Cadastrando supermercado</title>
</head>
<body>


    <main>
        <div class="logo"><img src="images/log.png" alt=""></div>
            <div class="container">
            
                <div class="item1">
                   <h1>Veja como é fácil<br> cadastrar seu<br> Supermercado!</h1>
                   <h2>Comece a vender muito mais<br> ficando mais próximo de<br> seus clientes!</h2>
                </div>

            <div>
                <section>
                    <h3>Preencha o Formulário</h3>
                         <form action="/cad_super" method="POST">
                            <fieldset>
                               <label for="name"></label>
                               <input type="text" name="userName" id="name" placeholder="Nome completo" required>
                
                               <label for="email"></label>
                               <input type="email" name="userEmail" id="email" placeholder="nome@gmail.com" required>
                
                               <label for="tel"></label>
                               <input type="tel" id="tel" name="tel" " placeholder="(xx)9xxxx-xxxx" required>
                               <button type="submit"><img src="images/50.png" alt="imagem"></a></button>
                            </fieldset>
                        </form>
                </section>
            </div>
        </div>

    </main>  

    <footer>
        <div class="rodape">
            <div>
                <a href=""><small>conheça a nossa Política de privacidade</small></a>
            </div>
        </div>
    </footer>
    



    
</body>
</html>