*{margin: 0;padding: 0; box-sizing: border-box;}


body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../images/backGR.png);
    background-repeat: no-repeat;
    
}

.logo{
    background: linear-gradient(#f5c013, #ff8903d2);
    position: fixed;
    display: flex;
   justify-content: center;
    width: 100%;
    box-shadow: 1px 1px 10px rgba(39, 26, 5, 0.667);
}


.container{
   
    display: flex;
    padding-top: 100px;
    
}

.foto{
    
    display: flex;
    flex-grow: 1;
    order: 1;
    
}

.frase-sucesso{
    padding-top: 80px;
    flex-grow: 1;
}

/*Responsividade área main*/

@media(max-width:760px){main{
    flex-direction: column;
    align-items: center;
    
}}

h1{
    font-size: 5.0em;
    text-align: center;
    margin-bottom: 50px;
    color: rgb(245, 133, 29);
    text-shadow: 2px 2px rgb(39, 36, 36);

}

h2{
    text-align: center;
    font-size: 3em;
    color: dimgrey;
    text-shadow: 1px 1px rgb(179, 255, 2);

}

.rodape{
    padding: 30px;
    justify-content: space-around;
    display: flex;
    width: 100%;
   
}



/*Responsividade área footer*/

@media(max-width:760px){.rodape{
    flex-direction: column;
    align-items: center;
    
    
}}
